body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: black;
    margin: 30px 0 50px;
}
.Gallery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 0.6s;
}
.Gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}